<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico'%}">
    <title>Recipe Exchange</title>
</head>
<body>
    {% block header %}
    <header id="base-header">
        <h1 id="nav-header-text"><a href="{% url 'homepage'%}">Recipe Exchange</a></h1>
        <nav id="navbar">
            <ul id="nav-list">
                <li class="nav-item"><a href="#" class="nav-link">All Recipes</a></li>
                
                <li class="nav-item"><a href="#" class="search-icon nav-link"><i class="fa fa-search"></i></a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown-button"><span class="button">Account <i class="fas fa-angle-down down" id="arrow"></i></span> 
                        <div class="dropdown-content hide">
                            <ul id="dropdown-list">
                                <a href="" class="dropdown-link"><li>Create a Recipe</li></a>
                                <a href="" class="dropdown-link"><li>View my Recipes</li></a>
                                <a href="{% url 'edit-profile' %}" class="dropdown-link"><li>Edit Profile</li></a>
                                <a href="{% url 'logout' %}" class="dropdown-link"><li>Logout</li></a>
                            </ul>
                        </div>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url  'login' %}" class="nav-link">Login</a></li>
                {% endif %}
                <li class="nav-item"><a href="#contact-info-msg" class="nav-link">Contact Us</a></li>
            </ul>
        </nav>
        <div id="search-container">
            <form id="search-bar" class="hide" action="">
                {% csrf_token %}
                <select name="category" id="select-category" name="search-filter">
                    <option value="recipe-name">Recipe</option>
                    <option value="author-name">Author</option>
                </select>
                <button type="submit" id="submit-button"><i class="fa fa-search"></i></button>
                <input type="search" id="search-input" placeholder="Search by Recipe Name" name="search">
                
            </form>
        </div>
    </header>
    {% endblock header %}

    
    <!-- That displays messages from django views -->
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}



    <main id="base-main">
        <section id="page-content">
    {% block content %}

    {% endblock content %}  
        </section>
    </main> 
    {% block footer %}
    <footer id="base-footer">
        <h2 id="credits">Created by Christopher Hicks</h2>
        <h3 id="contact-info-msg">Need to report a bug or want to send us a suggestion for the website? <br>Contact us by sending a message <button type="button" id="contact-dropdown-button">here</button>!</h3>
        <form action="{% url 'contact' %}" id="contact-form" class="hide" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="contact_form">

            <input type="email" placeholder="Enter your email here" name="email">
            <textarea name="message" id="message-box" placeholder="Enter your message here!"></textarea>
            <button type="submit">Send Message</button>
        </form>
    </footer>
    {% endblock footer %}
</body>
</html>