{% extends "base.html" %}
{% load static %}

{% block header %}
<head>
    <link rel="stylesheet" href="{% static 'css/change-password.css' %}">
</head>
<!--Change password header-->
<header>
    <h2>Change Password</h2>
</header>
{% endblock header %}

{% block content %}
<!--Form that allows user to change password-->
<form action="{% url 'change-password' %}" method="POST" id="password-form">
    {% csrf_token %}
    {{form.as_p}}
    <div id="password-button-box">
        <button type="submit" id="save-button">Save Change</button>
        <a href="{% url 'edit-profile' %}"><button type="button" id="cancel-button">Cancel</button></a>
    </div>
</form>
{% endblock content %}

{% block footer %}
<footer></footer>
{% endblock footer %}