{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/edit-recipe.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<form action="{% url 'edit-recipe' recipe.id %}" method="POST" id="edit-recipe" enctype="multipart/form-data">
    {% csrf_token %}
   {{form.as_p}}
    <div id="edit-recipe-button-box">
        <button type='submit' id>Save Changes</button>
        <button type="button" onclick="history.back()">Cancel</button>
    </div>
</form>
{% endblock content %}