{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<!-- Section for displaying homepage welcome message-->
<section id="home-msg">
    <h2>Welcome to Recipe Exchange!</h2>
    <p>If you were looking for a place to store your own recipes,
        share your recipes with others, 
        or even to find new recipes to try yourself, you've come the right place!  
        On Recipe Exchange you are be able to share you originally created recipes or even find new recipes
        to make your breakfast, lunch, or dinner an exciting meal again!</p>
</section>

<!-- Section for displaying top rated recipes section-->
<section id="home-content-container">

    <!--Section for displaying top 10 recipes-->
    <section class="home-content">
        <h3>Top Recipes</h3>
        <div class="recipes-container">
            {% for recipe in recipes %}
            <a href="{% url 'view-recipe' recipe.id %}">
                <div class="recipe-link-card">
                    {% if recipe.recipe_picture %}
                        <img src="{{ recipe.recipe_picture.url }}" alt="Image for recipe named {{recipe.recipe_name}}" class="home-img">
                    {% else %}
                        <img src="{% static 'images/image-placeholder.png' %}" alt="Image filler for recipe named {{recipe.recipe_name}}" class="home-img">
                    {% endif %}
                    <h4 class="likes">Likes: {{recipe.total_likes}}</h4>
                    <h4 class="recipe-name">{{recipe.recipe_name}}</h4>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    <!-- Section for displaying recipe categories -->
    <section class="home-content">  
        <h3>Recipe Categories</h3>
        <div class="recipes-container">
            {% for category in categories %}
            <a href="{% url 'recipes' category.name  %}">
                <div class="recipes-category-card">
                    {% if category.image %}
                    <img src="{{ category.image.url }}" alt="Image for {{ category.name }} category" class="home-img">
                    {% else %}
                    <img src="{% static 'images/image-placeholder.png' %}" alt="Image filler for recipe named {{category.name}}" class="home-img">
                    {% endif %}
                    <h4 class="category-name">{{ category.name }}</h4>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock content %}