{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <script src="{% static 'js/recipes.js' %}"></script>
</head>
<section id="filter-container">
    <h2>Filter by Category</h2>
    <select name="category" id="filter" name="search-filter" selected=" {{ filter }} ">
        <option value="All">All</option>
        {% for category in categories %}
        {% if filter  == category.name %}
        <option value="{{ category.name }}" selected>{{ category.name }}</option>
        {% else %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endif %}
        {% endfor %}  
    </select>
</section>

<section id="recipes-container">
    <div id="recipes-box">
    {% for recipe in recipes %}
        <a href="{% url 'view-recipe' recipe.id %}">
            <div id="recipe-card">
                {% if recipe.recipe_picture %}
                <img src="{{ recipe.recipe_picture.url }}" alt="Image for recipe named {{recipe.recipe_name}}">
                {% else %}
                <img src="{% static 'images/image-placeholder.png' %}" alt="Image filler for recipe named {{recipe.recipe_name}}">
                {% endif %}
                <h4 class="likes">Likes: 1</h4>
                <h4 class="recipe-name">{{ recipe.recipe_name }}</h4>
            </div>
        </a>
    {% endfor %}
    </div>
</section>

{% endblock content %}
