{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>

<!--Filters for recipes-->
<section id="filter-container">
    <h2>Search Results for: {{ query }}</h2>
</section>

<!--Section that displays recipes-->
<section id="recipes-container">
    <div id="recipes-box">
    {% for recipe in recipes %}
        <a href="{% url 'view-recipe' recipe.id %}?next={{ request.path }}&from=search&search={{ request.GET.search }}&category={{ request.GET.category }}&page={{ recipes.number }}" class="recipe-card-link">
            <div class="recipe-card">
                {% if recipe.recipe_picture %}
                <img src="{{ recipe.recipe_picture.url }}" alt="Image for recipe named {{recipe.recipe_name}}">
                {% else %}
                <img src="{% static 'images/image-placeholder.png' %}" alt="Image filler for recipe named {{recipe.recipe_name}}">
                {% endif %}
                <h4 class="likes">Likes: {{recipe.total_likes}}</h4>
                <h4 class="recipe-name">{{ recipe.recipe_name }}</h4>
            </div>
        </a>
    {% endfor %}
    </div>
</section>


<!--Section that allows you to change pages-->
<div class="pages">
    {% if recipes.has_previous %}
        <a href="?search={{ request.GET.search }}&category={{ request.GET.category }}&page={{ recipes.previous_page_number }}"><button class="page-button"><i class="fa-solid fa-arrow-left"></i></button></a>
    {% endif %}

    <span>
        Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}
    </span>

    {% if recipes.has_next %}
        <a href="?search={{ request.GET.search }}&category={{ request.GET.category }}&page={{ recipes.next_page_number }}"><button class="page-button"><i class="fa-solid fa-arrow-right"></i></button></a>
    {% endif %}
</div>

{% endblock content %}
