{% extends "base.html" %}
{% load static %}


{% block content %}

<head id='view-recipe-head'>
    <link rel="stylesheet" href="{% static 'css/view-recipe.css' %}">
    <script src="{% static 'js/view-recipe.js' %}"></script>
    <script>
        window.AppConfig = {
          likeUrl: "{% url 'like_post' %}"
        };
      </script>
</head>

<section id="recipe-container">
    
    <!--View Recipe page buttons-->
    <div id="recipe-button-box">
        {% if user == recipe.created_by %}
            <a href="{% url 'edit-recipe' recipe.id %}?next={{ request.GET.next }}"><button type='button'>Edit Recipe</button></a>
            <a href="{% url 'delete-recipe' recipe.id %}"><button type='button'>Delete Recipe</button></a>
        {% endif %}
        {% if from_search %}
        <a href="{{ request.GET.next|default:'/' }}?search={{ request.GET.search }}&category={{ request.GET.category }}&page={{ request.GET.page }}"><button type ="button"><i class="fa-solid fa-arrow-left"></i> Back To Results</button></a>
        {% else %}
            <a href="{{ request.GET.next|default:'/' }}"><button type ="button"><i class="fa-solid fa-arrow-left"></i> Back</button></a>
        {% endif %}
        {% if user.is_authenticated %}
            <button type="button" id="like-btn" data-recipe-id="{{recipe.id}}">
                {% if user in recipe.likes.all %}
                    Liked <i class="fa-solid fa-thumbs-up"></i>
                {% else %}
                    Like <i class="fa-regular fa-thumbs-up"></i>
                {% endif %}
            </button>
        {% else %}
            <button type="button" id="like-btn" class="disabled" data-recipe-id="{{recipe.id}}" disabled>
                <span class="Like-btn-tip">Login to like recipes</span>

            </button>
        {% endif %}
    </div>

    <!--Top of recipe information page-->
    <div id="recipe-info-header-container">
        {% if recipe.recipe_picture %}
        <img class="recipe-image" src="{{ recipe.recipe_picture.url }}" alt="Image for {{recipe.recipe_name}} recipe">
        {% else %}
        <img class="recipe-image"src="{% static 'images/image-placeholder.png' %}" alt="Image filler for recipe named {{recipe.recipe_name}}">
        {% endif %}
        <div id="recipe-info-header">
            <p><span class="header-text">Recipe name</span><br>{{recipe.recipe_name}}</p>
            <p><span class="header-text">Recipe difficulty</span><br>{{recipe.recipe_difficulty}}</p>
            <p><span class="header-text">Recipe category</span><br>{{recipe.recipe_category}}</p>
            <p><span class="header-text">Created by user</span><br>{{recipe.created_by}}</p>
            <p><span class="header-text">Likes</span><br><span id="like-count">{{recipe.total_likes}}</span></p>
        </div>
    </div>

    <!--Instructions and Equipment section of the page-->
    <div id="recipe-instructions-container">
       <div class="recipe-instructions">
        <p>Ingredients</p>
        <ul>
            {% for line in recipe.recipe_ingredients.splitlines %}
                {% if line %}
                    <li>{{ line }}</li>
                {% endif %}
            {% endfor %}
        </ul>
       </div>

        <div class="recipe-instructions">
            <p>Equipment</p>
            <ul>
                {% for line in recipe.required_equipment.splitlines %}
                    {% if line %}
                        <li>{{ line }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="recipe-instructions">
            <p>Instructions Steps</p>
            <ol>
                {% for line in recipe.instructions.splitlines %}
                    {% if line %}
                        <li>{{ line }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>

</section>

{% endblock content %}