#edit-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

#edit-recipe p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: center;
}

#edit-recipe label {
    font-size: 1.5rem;
    color: #4a4e69;
    font-weight: bold;
    text-transform: capitalize;
}

#edit-recipe input {
    text-align: center;
    max-width: 720px;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 0;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px black;
    }

    &:hover {
        box-shadow: 0px 0px 3px black;
    }
}

#edit-recipe textarea {
    padding: 3px;
    max-width: 720px;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px black;
    }

    &:hover {
        box-shadow: 0px 0px 3px black;
    }
}

#edit-recipe select {
    max-width: 720px;
    width: 90%;
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
    border: 1px solid black;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px black;
    }

    &:hover {
        box-shadow: 0px 0px 3px black;
    }
}

#id_recipe_picture {
    width: 180px !important;
    border: none !important;

    &:hover {
        box-shadow: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }
}

.helptext {
    max-width: 720px;
    width: 90%;
    text-align: center;
    font-size: clamp(0.8rem, 0.747rem + 0.281vw, 1rem);
    color: #4a4e69;
}

#edit-recipe-button-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#edit-recipe-button-box button {
    width: 90%;
    max-width: 300px;
    padding: 5px 0;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    color: #4a4e69;

    &:hover {
        box-shadow: 0px 0px 3px black;
    }

    &:active {
        box-shadow: inset 0px 0px 3px black;
    }
}


#edit-recipe p:nth-of-type(3) {
    text-transform: capitalize;
}

label[for='recipe_picture-clear_id'] {
    display: none;
}

#edit-recipe p:nth-of-type(3) br {
    display: none;
}

#recipe_picture-clear_id {
    width: fit-content !important;
}