#page-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#home-msg {
    grid-column: span 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4a4e69;
    margin-top: 50px;

}

#home-msg h2 {
    font-size: clamp(2rem, 1.868rem + 0.702vw, 2.5rem);
    text-align: center;
    width: 100%;
}

#home-msg p {
    width: 80%;
    max-width: 720px;
    text-align: center;
    font-size: clamp(0.9rem, 0.847rem + 0.281vw, 1.1rem);
}

#home-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.home-content {
    margin: 0 10px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px 0;
    background-color: #e5e5e5;
    color: #4a4e69;
    box-shadow: 0px 0px 2px black;
    height: 700px;

}

.home-content h3 {
    font-size: 1.8rem;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    width: 90%;
    text-align: center;
}

.recipes-container {
    padding-top: 30px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    min-width: 275px;
}

.recipes-container a {
    text-align: center;
    width: 80%;


    &:hover {
        border-radius: 10px;
        box-shadow: 0px 0px 10px grey;
    }
}

.recipes-category-card {
    border: 1px solid black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.recipe-name {
    padding: 10px 0;
    font-size: clamp(0.8rem, 0.668rem + 0.702vw, 1.3rem);
    position: absolute;
    bottom: 5%;
    color: white;
    text-shadow: 0px 0px 3px black;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.category-name {
    padding: 10px 0;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    color: white;
    text-shadow: 0px 0px 3px black;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.home-img {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    border-radius: 10px;
    object-position: 50% 50%;
    object-fit: cover;
}

.recipe-link-card {
    border: 1px solid black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.likes {
    position: absolute;
    top: 4%;
    left: 4%;
    color: white;
    text-shadow: 0px 0px 3px black;
}